

.policy-option-selected {
  background-color: #ff3e00;  
}

.policy-option-unselected {
  background-color: #adadad;
}

.icon-option-selected {
  background: 
  url('../img/path.png') no-repeat;
  width: 8px;
  height: 8px;
  display: block;
  margin-left: 6px;
  margin-top: 6px;
}



.icon-option-unselected {
  background: 
  url('../img/path.png') no-repeat;
  width: 8px;
  height: 8px;
  display: block;
  margin-left: 6px;
  margin-top: 6px;
}